#controller_calibrate {
  $orange: orange;
  text-align: center;
  b {
    font-weight: bold;
    color: $orange;
  }
  .start {
    padding: 20px 40px 20px 60px;
    font-weight: bold;
  }
  .half {
    margin-bottom: $spacing_block * 2;
  }
  .to_follow {
    width: 300px;
    margin: 0px auto;
    height: 150px;
    background: $orange;
    margin-top: 100px;

  }
  .counter {
    margin-top: $spacing_block;
  }
  @media screen and(max-width: 640px) {
    .half {
      width: 45%;
      float: left;
    }
    .to_follow {
      margin-top: 50px;
      width: 30%;
      display: inline-block;
      height: 100px;
      float: left;
    }
  }
}