#controller_screen {
  .btn.fire {
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
    font-size: 60px;
    color: #7C1818;
    padding: 10% 0;
    background: #B33535 url('/images/fire_image.png') no-repeat center center;
  }
}