@font-face {
    font-family: 'maven_pro';
    src: url('fonts/mavenprolight-300-webfont.eot');
    src: url('fonts/mavenprolight-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mavenprolight-300-webfont.woff') format('woff'),
         url('fonts/mavenprolight-300-webfont.ttf') format('truetype'),
         url('fonts/mavenprolight-300-webfont.svg#maven_pro_light_300regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

%maven_pro {
  font-family: 'maven_pro';
}