#sync_with_desktop {
  text-align: center;
  .token {
    font-size: 40px;
    background: #57C757;
    padding: 10px 30px;
    display: inline-block;
    margin: 0px auto;
    color: white;
  }
}

#player_connect {
  ul {
    li {
      display: inline-block;
      width: 25%;
      padding: 15px 0;
      text-align: center;
      background-color: rgba(2, 2, 2, 0.55);
      color: rgba(243, 243, 243, 0.67);
      @extend %maven_pro;
      @include box-shadow(inset 1px 0px 0px rgba(94, 94, 94, 0.54));
      &:first-child {
        @include box-shadow(inset 0px 0px 0px rgba(94, 94, 94, 0.54));
      }
      &.connected {
        color: #6BFF82;
      }
    }
  }
}

#health_bar {
  background: #C94613;
  padding: 10px;
  position: relative;
  .fill {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #45B849;
    @include transition(width 200ms);
  }
}