extends ./layout

block head
  script(src="/socket.io/socket.io.js", type="text/javascript")
  script(src="js/controller.js", type="text/javascript")
  script(src="js/main.js", type="text/javascript")

block content
  #hold