!!! 5
html
  head
    title Narwhals - Node Knockout 2012
    | <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0">
    script(src="js/vendor/jquery.1.8.2.min.js", type="text/javascript")
    script(src="js/vendor/crafty.js", type="text/javascript")
    script(src="js/vendor/lodash.js", type="text/javascript")
    script(src="js/vendor/soundmanager2-nodebug-jsmin.js", type="text/javascript")
    script(src="js/templates.js", type="text/javascript")
    script(src="js/seedrandom.js", type="text/javascript")
    script(src="js/generator.js", type="text/javascript")
    script(src="js/sounds/NW.sounds.js", type="text/javascript")
    script(src="js/app.js", type="text/javascript")
    script(src="js/client/NW.game.js", type="text/javascript")
    script(src="js/client/game/scenes.js", type="text/javascript")
    script(src="js/client/game/components.js", type="text/javascript")
    script(src="js/client/game/components/bugs.js", type="text/javascript")
    script(src="js/client/game/components/players.js", type="text/javascript")
    script(src="js/client/game/components/ships.js", type="text/javascript")
    script(src="js/client/game/components/spawner.js", type="text/javascript")
    script(src="js/client/game/components/sun.js", type="text/javascript")
    script(src="js/client/game/components/weapons.js", type="text/javascript")
    link(rel="stylesheet", href="stylesheets/main.css", type="text/css")
    block head
  body
    block content

    #footer
      //- iframe(src="http://nodeknockout.com/iframe/narwhals", frameborder=0, scrolling='no', allowtransparency=true, width=115, height=25)
