!!! 5
html
  head
    title Narwhals - Node Knockout 2012
    block head
  body
    block content

    #footer
      iframe(src="http://nodeknockout.com/iframe/narwhals", frameborder=0, scrolling='no', allowtransparency=true, width=115, height=25)