#controller_calibrate
  h3 First lets calibrate your controller!
  p Tilt your controller to match the <b>orange</b> box
  .btn.start Start
  .calibrate(style="display: none")
    .counter Please Hold For -- <b class="countdown"></b>
    .to_follow