#controller_calibrate
  h3 First lets calibrate your controller!
  .btn.start Begin Calibration
  .calibrate(style="display: none")
    .half
      span Tilt your controller to match the <b>orange</b> box
      .counter Please Hold For -- <b class="countdown"></b>
    .to_follow